{% extends "base.html" %}
{% block title %}{{ module.name }} &ndash; {{ project }}{% endblock title %}
{% block body %}
  {% import 'macros.html' as macros %}
  <div class="row">
    <h1>{{ module.name }} 
    <small>Module</small>
    {% if module.meta['deprecated'] %}
	 <span class="label label-danger depwarn">Deprecated</span>
    {% endif %}
    </h1>
	 {{ macros.info_bar(module.name,module.meta,project_url,module.hierarchy) }}    
  </div>
  
  <div class="row">
    <div class="col-lg-3">
    {{ macros.sidebar(project,module) }}
    </div>
    
    <div class="col-lg-9" id='text'>
    {{ macros.use_list(module) }}
    {{ module.doc }}
    {% if module.doc %}<br>{% endif %}

    {% if module.variables|length > 0 %}
    <section>
    <h2>Variables</h2>
    {{ macros.var_list(module.variables,permission=True) }}
    </section>
    <br>
    {% endif %}
    
    {% if module.interfaces|length > 0 %}
	 <h2>Interfaces</h2>
	 {% for intr in module.interfaces %}
	   {{ macros.interface(intr) }}
    {% endfor %}
    </section>
	 <br>
    {% endif %}

    {% if module.absinterfaces|length > 0 %}
	 <h2>Abstract Interfaces</h2>
	 {% for intr in module.absinterfaces %}
	   {{ macros.absinterface(intr) }}
    {% endfor %}
    </section>
	 <br>
    {% endif %}
    
    {% if module.types|length > 0 %}
	 <h2>Derived Types</h2>
	 {% for type in module.types %}
	   {{ macros.type_summary(type) }}
    {% endfor %}
    </section>
	 <br>
    {% endif %}
    
    {% if module.functions|length > 0 %} 
    <section>
    <h2>Functions</h2>
    {% for proc in module.functions %}
    {{ macros.proc_entry(proc) }}
    {% endfor %}
    </section>
    <br>
    {% endif %}


    {% if module.subroutines|length > 0 %}
    <section>
    <h2>Subroutines</h2>
    {% for proc in module.subroutines %}
    {{ macros.proc_entry(proc) }}
    {% endfor %}
    </section>    
    {% endif %}
    
    </div>
  </div>
{% endblock body %}
