<div class="panel panel-info">
  <div class="panel-heading">
  {% set args = 0 %}
  {% if var.kind %}{% set args = args + 1 %}{% endif %}
  {% if var.strlen %}{% set args = args + 1 %}{% endif %}
  {% if var.proto %}{% set args = args + 1 %}{% endif %}
  <h4 class="panel-title">
  {{ var.vartype }}{% if args > 0 -%}({% if var.kind -%}kind={{ var.kind }}{%- endif %}{% if args > 1 -%},{%- endif %}{% if var.strlen -%}len={{ var.strlen }}{%- endif %}{% if var.proto -%}{{ var.proto }}{%- endif %}){%- endif %}{% if var.parobj == 'subroutine' or var.parobj == 'function' and var.optional -%}, optional{% endif -%}{% if var.parobj == 'type' or var.parobj == 'module' -%}, {{ var.permission }}{%- endif %} {% if var.parameter -%}, parameter {%- endif %}{% for attrib in var.attributes -%}, {{attrib}}{%- endfor %}:: {{ var.name }}{% if var.initial -%}{% if var.points %} => {% else %} = {%- endif %}{{ var.initial }}{%- endif %}
  </h4></div>
  {% if var.doc %}
  <div class="panel-body">
    {{ var.doc }}
  </div>
  {% endif %}
</div>

