name: black

on:
  push:
    paths:
      - '**.py'

defaults:
  run:
    shell: bash

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
    - name: Install black
      run: |
        python -m pip install --upgrade pip
        pip install black
    - name: Version
      run: |
        python --version
        black --version
    - name: Run black
      run: |
        black ford setup.py test
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "[skip ci] Apply black changes"
